# Dependency folders
**/node_modules/

# Environment configurations containing secrets
**/.env
**/.env.local
**/.env.*.local

# Build/Dist outputs
**/dist/
**/build/
.cache/

# System / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
